.projectPage__heading {
  margin: 20px 0;
  text-align: center;
  font-size: 32px;
}
.formPage {
  background-color: #f8fafc;
  min-height: 100vh;
  padding-bottom: 100px;
}

.form__container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
}

.form__content {
  width: 40%;
  min-height: 500px;
  padding: 20px;
  background-color: #f8fafc;
  border: 1px solid rgb(0 0 0 / 0.1);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.formTitle__container,
.formDesc__container,
.formStatus__container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.formTitle__label,
.formDesc__label,
.formStatus__label {
  margin: 10px 0;
  font-size: 20px;
}

.formTitle__input,
.formDesc__input,
.formStatus__input {
  padding: 12px 10px;
  outline: none;
  border: 1.5px solid #adbed5;
  border-radius: 5px;
}

.formTitle__input:focus,
.formDesc__input:focus,
.formStatus__input:focus  {
  border: 1.5px solid #7e22ce;
}

.submitBtn__container {
  display: flex;
  justify-content: center;
}

.formSubmit__btn {
  padding: 16px 20px;
  background-color: white;
  border: 1px solid #7e22ce;
  border-radius: 10px;
  cursor: pointer;
  color: #334155;
  outline: none;
}

.formSubmit__btn:hover {
  background-color: #ede9fe;
  color: #334155;
}


/* MEDIA QUERIES */
@media all and (min-width: 769px) and (max-width: 1180px) {
  .form__content {
    width: 60%;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  .form__content {
    width: 60%;
  }
}

@media all and (max-width: 480px) {
  .form__content {
    width: 90%;
  }
}
